.titulo1_3 {
    color: red;
    background-color: royalblue;
}

.titulo2_4 {
    color: green;
}

#parrafos {
    font-size: 16px;
}

h2 {
    font-family: helvetica;
}

#sub_2 {
    font-style: italic;
}